scoop/
/coc
yarn/
Min/
dconf/
evolution/
gnome-control-center/
gnome-initial-setup-done
gtk-3.0/
gtk-4.0/
ibus/
mimeapps.list
ulauncher/
pulse/
user-dirs.dirs
user-dirs.locale
.gsd-keyboard.settings-ported
enchant/
gedit/
autostart/
ngrok/
create-next-app-nodejs/
nextjs-nodejs/
simple-update-notifier/
sublime-text/
eog/
nautilus/
GNOME-xdg-terminals.list
dleyna-renderer-service.conf
xdg-terminals.list
google-chrome/
menus/
eas-cli-nodejs/
QtProject.conf
sqlitebrowser/
chromium/
Postman/
configstore/
microsoft-edge/
BraveSoftware/
systemd/
htop/
yay/
procps/
MongoDB Compass/
go/
libreoffice
godot/
mapeditor.org/
astro/
gatsby/
fontforge/
reflector-simple-free-params.txt
ranger/
obsidian/
